<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>短域名</title>
</head>
<body>
<div >
    <input v-model="fullurl">
    <button @click="postfullurl">压缩</button>
    <br>
    <template v-if="shorturl">
        <a :href='codeurl(shorturl.ShortCode)'>{{codeurl(shorturl.ShortCode)}}</a>
        <br>
        <a :href="shorturl.LongURL">{{shorturl.LongURL}}</a>
    </template>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
<script>
    var vm = new Vue({
        el: 'body',
        data: {
            fullurl: '',
            shorturl: null,
        },
        methods:{
            codeurl:function(code){
                return window.location.origin + "/"+ code
            },
            postfullurl:function(){
                console.log(this.fullurl)
                var data = new FormData()
                data.append('url',this.fullurl)
                fetch("/v1/shorturl/",{
                    method:"post",
                    body:data
                }).then(function(resp) {
                    return resp.json()
                })
                  .then(function(json){
                    vm.shorturl = json
                    console.log(vm.shorturl)
                })
            }
        }
    })
</script>
</body>

</html>